/* _main.scss */

body {
	background: unquote($color_body);
}
#page { 
	background: unquote($color_container);
}

a {
  color: unquote($color_links);
  &:hover { color: unquote($color_links); }
  &:visited { color: unquote($color_links); }
}

h1, h2, h3, h4, h5, h6 {
	color: unquote($color_paragraph);
}
p {
	color: unquote($color_paragraph);
}